/* Global Styles */
body {
  font-family: 'HUMANE-BOLD';
  background-color: #121212;
  color: #f0f0f0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mohave', sans-serif;
}

a {
  color: #d6a0f6;
}

a:hover {
  color: #f1c40f;
}

/* Navbar Styles */
.navbar-custom {
  background-color: #1f1f1f !important; /* Garante que a cor da navbar é aplicada */
}

.navbar-brand {
  color: #d6a0f6;
}

.navbar-brand:hover {
  color: #f1c40f;
}

.navbar-toggler {
  border-color: #d6a0f6;
}

/* Adiciona uma classe active ao link da navbar quando a seção está visível */
.nav-link.active {
  color: #f1c40f !important;
}

/* Header Styles */
.header-custom {
  background-image: url('../assets/Background/2.jpg');
  background-size: cover;
  padding: 100px 0; /* Ajuste para ocupar toda a altura da tela */
  text-align: center;
}

.header-custom h1 {
  font-size: 3rem;
  color: #f1c40f;
  text-shadow: 0 0 8px #d6a0f6, 0 0 16px #d6a0f6;
}

.header-custom p {
  font-size: 1.25rem;
  color: #f0f0f0;
}

/* Section Styles */
.section-custom {
  min-height: 100vh; /* Garante que a seção ocupe toda a altura da tela */
  padding: 100px 0; /* Ajusta o padding para uma aparência consistente */
  background-color: #2c2c2c;
  text-align: center;
}

.section-custom:nth-child(even) {
  background-color: #1f1f1f;
}

.section-custom h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #d6a0f6;
}

.section-custom p {
  font-size: 1.125rem;
  max-width: 800px;
  margin: 0 auto 40px;
}

.section-custom img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  border-bottom: 5px solid #d6a0f6;
}

.card-body {
  background-color: #1f1f1f;
  color: #f0f0f0;
}

.card-body h4 {
  font-size: 1.5rem;
  color: #d6a0f6;
}

.card-body p {
  font-size: 1rem;
}

/* Footer Styles */
.footer-custom {
  background-color: #1f1f1f;
  color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

